<div>
    <div>@Exception.Message</div>
    @if(Exception is ProblemDetailsException ex)
    {
        <div>
            @ex.ProblemDetails.Detail
        </div>
        @ExceptionMarkup
    }
</div>

@code {
    [Parameter] public Exception Exception { get; set; }

    MarkupString ExceptionMarkup => new MarkupString(ExceptionMarkupBuilder.Build(Exception));
}
