<div class="form-field">
    <label>Nombre:</label>
    <div>
        <input class="input" @ref=NameField @bind=Address.Name title="Nombre" />
    </div>
    <label>Direccion 1:</label>
    <div>
        <input class="input" @bind=Address.AddressLine1 title="AddressLine1" />
    </div>
    <label>Direccion 2:</label>
    <div>
        <input class="input" @bind=Address.AddressLine2 title="AddressLine2" />
    </div>
    <label>Ciudad:</label>
    <div>
        <input class="input" @bind=Address.City title="City" />
    </div>
    <label>Codigo postal:</label>
    <div>
        <input class="input" @bind=Address.Postalcode title="Postalcode" />
    </div>
    <label>Region:</label>
    <div>
        <input class="input" @bind=Address.Region title="Region" />
    </div>
</div>