.form-field {
    display: flex;
    margin: 0.5rem;
}

    .form-field > label {
        width: 8rem;
    }

    .form-field > div {
        flex-grow: 1;
    }

    .form-field input {
        width: 100%;
    }

::deep .valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}
::deep .invalid {
    outline: 1px solid red;
}
::deep .validation-message {
    color: red;
}
