<div class="sidebar">
    @if(Order.HasPizzas)
    {
        <div class="order-contents">
            <h2>Tu orden</h2>
            @foreach(Pizza configuredPizza in Order.Pizzas)
            {
                <ConfigurePizzaItem Pizza=configuredPizza OnRemoved="() => Order.RemovePizza(configuredPizza)" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">
            Selecciona una pizza <br/>
            para empezar
        </div>
    }
    <div class="order-total-container">
        <div class="order-total @(Order.HasPizzas ? "":"hidden")">
            Total: 
            <span class="total-price">@Order.GetFormatedTotalPrice()</span>
             <a href="checkout" class="button is-warning">Order &gt;</a>
        </div>
    </div>
</div>
