<div class="pizza-info" style="background-image:url('@Special.ImageUrl')">
    <span class="title">@Special.Name</span>
    @Special.Description
    <span class="price">
        @Special.GetFormattedPrice()
    </span>
</div>
