<div class="main">
    <ul class="pizza-cards">
        @if(ViewModel.Specials is not null)
        {
            @foreach(PizzaSpecial special in ViewModel.Specials)
            {
                <li @onclick="() => OnClickSpecial.InvokeAsync(special)">
                    <PizzaSpecialComponent Special=special />
                </li>
            }
        }
        else
        {
            <li>Loading ...</li>
        }
    </ul>
</div>