<div class="main">
    <ul class="pizza-cards">
        @if(ViewModel.Specials is not null)
        {
            @foreach(PizzaSpecial special in ViewModel.Specials)
            {
                <li @onclick="() => OnClickSpecial.InvokeAsync(special)"
                    style="background-image:url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">
                            @special.GetFormattedPrice()
                        </span>
                    </div>
                </li>
            }
        }
        else
        {
            <li>Loading ...</li>
        }
    </ul>
</div>