
<nav class="top-bar">
    <a class="logo" href="">
        <img src="@ImagePath/logo.svg" />
    </a>
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="@ImagePath/pizza-slice.svg" />
        <div>Elegir Pizza</div>
    </NavLink>
</nav>
