@page "/user/login"

<div class="main">
    <section class="login">
        <div>
            <h4>Accede a tu cuenta</h4>
            <LoginComponent OnLogin=OnLogin />
        </div>
    </section>
</div>
