@page "/user/register"

<div class="main">
    <section class="register">
        <div>
            <h4>Crear cuenta de usuario</h4>
            <RegisterComponent OnRegister=OnRegister />
        </div>
    </section>
</div>

