.form-field-column {
    display: flex;
    flex-direction: column;
    margin:1rem 0.5rem;
}
    .form-field-column > label {
        width: auto;
    }

    .form-field-column > div {
        flex-grow:1;
    }

    .form-field-column input {
        width:100%;
    }


::deep .valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

::deep .invalid {
    outline: 1px solid red;
}

::deep .validation-message {
    color: red;
}