@page "/pizzas"
@page "/pizzas/{pizzaname}"
@inject NavigationManager NavManager

@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives
<HeadContent>
<style>
       .active {
           background-color: maroon;
           color: white;
           margin: 15px;
           padding: 15px;
           border-radius: 5px;
       }
</style>
</HeadContent>

<h1>Buy a pizza</h1>
<p>I want to order a @PizzaName</p>
<p>I want to add this topping: @ToppingName</p>
<a href="@HomePageUri">Home Page</a>

<button class="btn btn-primary" @onclick=NavigateToPaymentPage>Buy this pizza</button>

<NavLink href="@HomePageUri" Match="NavLinkMatch.All">Home Page</NavLink>
<NavLink href="pizzas/margarita" Match="NavLinkMatch.Prefix">Pizzas margarita</NavLink>
<NavLink href="pizzas" Match="NavLinkMatch.Prefix">Pizzas page</NavLink>

@code {
    [Parameter] public string PizzaName { get; set; }
    string HomePageUri;
    string ToppingName;

    protected override void OnInitialized()
    {
        HomePageUri = NavManager.BaseUri;

        StringValues extraTopping;
        Uri uri = NavManager.ToAbsoluteUri(NavManager.Uri);        
        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("extratopping", out extraTopping))
        {
            ToppingName = Convert.ToString(extraTopping);
        }
    }

    private void NavigateToPaymentPage()
    {
        NavManager.NavigateTo("counter");
    }
}
