@page "/checkout"

<div class="main">
    <EditForm Model=ViewModel.Address>
        <div class="checkout-cols">
            <div>
                <h4 class="subtitle">Revisar la orden</h4>
                <OrderReview Order=ViewModel.Order />
            </div>
            <div>
                <h4 class="subtitle">Enviar a:</h4>
                @if(!ViewModel.IsValidAddress)
                {
                    <div class="">
                        Por favor proporcione nombre, direccion y C.P.
                    </div>
                }
                <AddressEditor Address=ViewModel.Address />
            </div>
        </div>
    </EditForm>

    <button class="checkout-button button is-warning" @onclick=PlaceOrder disabled="@ViewModel.IsSubmitting">Realizar pedido</button>
</div>