@page "/checkout"

<div class="main">
    <EditForm Model=ViewModel.Address OnValidSubmit="PlaceOrder">
        <SpecificationValidator Validator=AddressValidator />
        <div class="checkout-cols">
            <div>
                <h4 class="subtitle">Revisar la orden</h4>
                <OrderReview Order=ViewModel.Order />
            </div>
            <div>
                <h4 class="subtitle">Enviar a:</h4>
                <AddressEditor Address=ViewModel.Address />
            </div>
        </div>
        <button type="button" @onclick=ShowLocation class="button">Show Location</button>
        <button class="checkout-button button is-warning" type="submit" disabled="@ViewModel.IsSubmitting">Realizar pedido</button>
    </EditForm>
    <div style="height:500px;width:100%">
        <Map OnMapCreatedAsync=OnCreateMapAsync ZoomLevel="19"/>
    </div>
</div>