@page "/checkout"

<div class="main">
    <div class="checkout-cols">
        <div>
            <h4 class="subtitle">Revisar la orden</h4>
            <OrderReview Order=OrderState.Order />
        </div>
    </div>

    <button class="checkout-button button is-warning">Realizar pedido</button>
</div>