@page "/"
<PageTitle>Blazing Pizza</PageTitle>

@*<Specials OnClickSpecial=ViewModel.ShowConfigurePizzaDialog />*@

<DrMaps.Blazor.Map @ref=MyMap OriginalPoint=OriginalPoint />
<EditForm Model=LookupAddress OnValidSubmit="GetLocations">
    <div>
        <h4 class="subtitle">Buscar:</h4>
        <AddressEditor Address=LookupAddress />
    </div>
    <button class="checkout-button button is-warning" type="submit">Mostrar Puntos</button>
</EditForm>

@*@if(ViewModel.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza=ViewModel.ConfiguringPizza
        OnCancel=ViewModel.CancelConfigurePizzaDialog
        OnConfirm=ViewModel.ConfirmConfigurePizzaDialog />
}

<ConfiguredPizzas Order=OrderStateService.Order />*@
