@page "/order/{OrderId:int}"

<div class="main">
    @if(ViewModel.InvalidOrder)
    {
        <h2>Orden no encontrada!</h2>
        <p>Lo sentimos, pero esta orden no existe.</p>
    }
    else if(ViewModel.Order == default)
    {
        <p>Cargando</p>
    }
    else
    {
        <div class="track-order">
            <div class="track-order-title">
                <h2>Pedido realizado @ViewModel.Order.CreatedTime.ToLongDateString()</h2>
                <p>Estado: <strong>@OrderStatus.GetText()</strong></p>
            </div>
            <div class="track-order-body">
                <div class="track-order-details">
                    <OrderReview Order="ViewModel.Order" />
                </div>
                <div class="track-order-map">
                    <OrderTrackerMap ZoomLevel="13" Order=ViewModel.Order OnNotification=Notification />
                </div>
            </div>
        </div>
    }
</div>